<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['/home']">Gamers++</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a [routerLink]="['/home']" ><span class="glyphicon glyphicon-home"></span>Home</a></li>
        </ul>
        <form class="navbar-form navbar-left">
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a [routerLink]="['/login']" ><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="isTeacher" ><a [routerLink]="['/addcourse']"><span class="glyphicon glyphicon-plus"></span>Add course</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="isTeacher" ><a [routerLink]="['/addgame']"><span class="glyphicon glyphicon-knight"></span>Add Game</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="isStudent"><a [routerLink]="['/enrollIn']"><span class="glyphicon glyphicon-cloud-upload"></span>Join Course</a></li>
        </ul>
         <ul class="nav navbar-nav navbar-right">
            <li><a [routerLink]="['/courses']"><span class="glyphicon glyphicon-book"></span>Courses</a></li>
        </ul>
    </div>
</nav>
<br><br>
<form name="form"  #f="ngForm" role="form" >
    <div class="form-group" >
        <label for="Coursename">Coursename</label>
        <input type="text" id="courseName" class="form-control" name="Coursename" [(ngModel)]="course.courseName" #gamename="ngModel"
             />
    </div>
    <div class="form-group" >
        <label for="description">Description</label>
        <input type="text" id="description" class="form-control" name="description" [(ngModel)]="course.description" #description="ngModel"
             />
    </div>
    <div class="form-group last">
        <div class="col-sm-offset-3 col-sm-9">
            <button (click)="addcourse()" id="add" type="submit" class="btn btn-success btn-sm">Add Course</button>
        </div>
    </div>
</form>

<style>
    .panel-default {
        opacity: 0.9;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    *[role="form"] {
        opacity: 0.9;
        max-width: 530px;
        padding: 35px;
        margin: 0 auto;
        background-color: white;
        border-radius: 0.3em;
    }
    
    *[role="form"] h2 {
        margin-left: 5em;
        margin-bottom: 1em;
    }
</style>